In [1]:
5+5

10

In [2]:
6*5

30

In [1]:
print(13455)

13455

In [10]:
print(3.5,4.9,45,78,498,45,sep=" @ ")

3.5 @ 4.9 @ 45 @ 78 @ 498 @ 45

In [11]:
print("123,23,2.5")

123,23,2.5

In [27]:
print("salman,Usman,Arshed") #String Functions
print("Engineer")
print("Ali")
print("Talha")

salman,Usman,Arshed
Engineer
Ali
Talha

In [30]:
print("salman,Usman,Arshed",end=" ^ ")
print("Engineer",end=' ^ ')
print("Ali",end=' ^ ')
print("Talha")

salman,Usman,Arshed ^ Engineer ^ Ali ^ Talha

In [1]:
print(seprator=sepratord by default sep="", end=end by default end="/n", file=file by default file=sys.stdout, flush=flush by default flush=false)

SyntaxError: invalid syntax (<ipython-input-1-9d264dbc3016>, line 1)