In [41]:
a=10
b=12.5
c="salman"
d="45"
e="14.6"

In [57]:
sum=a+b
print(sum)

45salman

In [55]:
substract=a-b
print(substract)

-2.5

In [53]:
multiply=a*b
print(multiply)

125.0

In [51]:
divide=a/b
print(divide)

0.8

In [65]:
num1="salman"
num2="usman"
print(num1)

salman

In [81]:
city=""

In [88]:
print(city)

Bahawalpur

In [90]:
print(2036-2011)

25

In [91]:
print(36+25)

61

In [92]:
q="In the example above, notice that each statement is on a separate line. I mentioned that you have to follow certain rules for naming variables. One that I've already covered: You can never enclose a variable name in quotation marks. "
print(q)

In the example above, notice that each statement is on a separate line. I mentioned that you have to follow certain rules for naming variables. One that I've already covered: You can never enclose a variable name in quotation marks.